body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  

  .form-check {
    position: absolute;
    right: 0;
    padding: 5px;
  }

  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid white;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: var(--bs-gray-300);
    color: darkgray;
  }
  
  .present {
    background-color: var(--bs-red);
    color: white;
    font-weight: bold;
  }
  
  .future {
    background-color: var(--bs-teal);
    color: black;
  }
  
  .saveBtn {
    border-left: 1px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  